.wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 5px 0;
}

.select {
  width: calc(100% - 15px);
  padding: 7px 15px;
  margin-left: 15px;
  border: 3px solid var(--black);
  color: var(--black);
  border-radius: 5px;
  outline-color: var(--primary);
  background-color: var(--white);
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 22px;
}

.label {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 22px;
}

.error {
  border: 3px solid var(--red);
}

.errorMessage{
  color: var(--red);
  margin: 5px 0;
}